<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="image_check:imageCheck:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="image_check:imageCheck:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div>
							<div >
								<div class="f-w" style="display: inline">
									<div class="f" style="display:inline;margin-right: 25px;margin-left: 25px">
										<label for="userCheckId" class="control-label" >检测员:</label>
										<input type="text" class="form-control" id="userCheckId" name="userCheckId" style="max-width: 10%;display: inline-block"/>
									</div>
									<div class="f" style="margin-right: 25px;display: inline;margin-right: 25px">
										<label for="machineId" class="control-label" >设备号:</label>
										<input type="text" class="form-control" id="machineId" name="machineId" style="max-width: 10%;display: inline-block"/>
									</div>
									<div class="f" style="display: inline;margin-right: 25px">
										<label for="finalResult" class="control-label" >检测结果:</label>
										<select class="form-control" id="finalResult" name="finalResult" style="max-width: 10%;display: inline-block">
											<option value="">请选择</option>
											<option value="0">未处理</option>
											<option value="1">合格</option>
											<option value="2">不合格</option>
											<option value="3">严重不合格</option>
										</select>
									</div>
									<div class="f" style="margin-right: 25px;display: inline">
										<label for="userCheckBegin" class="control-label">检测时间:</label>
										<input type="text" class="form-control date-picker" id="userCheckBegin" name="userCheckBegin" style="max-width: 15%;display: inline-block"/>-
										<input type="text" class="form-control date-picker" id="userCheckEnd" name="userCheckEnd" style="max-width: 15%;display: inline-block"/>
									</div>
								</div>
								<div style="display: flex">
									<div class="columns pull-right" style="flex-grow: 2">
										<button class="btn btn-success" onclick="reLoad()" style="float: right">查询</button>
									</div>
									<div class="columns pull-right" style="margin-left: 10px;margin-right: 10px">
										<button class="btn btn-success" onclick="STOBlistData()">用时升序排序</button>
									</div>
									<div class="columns pull-right" style="flex-grow: 2">
										<button class="btn btn-success" onclick="reLoad()">用时降序排序</button>
									</div>
								</div>
							</div>
						</div>
						<!--<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>-->
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/image_check/imageCheck/imageCheck.js"></script>
	<!--<script type="text/javascript" src="/js/appjs/image_check/imageCheck/tableExport.js"></script>-->
</body>
</html>