<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="image_check:imageCheck:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="image_check:imageCheck:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div>
							<div >
								<div class="f-w" style="display: inline">
									<div class="f" style="display:inline;margin-right: 25px;margin-left: 25px">
										<label for="customId" class="control-label" >设备号:</label>
										<input type="text" class="form-control" id="customId" name="customId" style="max-width: 10%;display: inline-block"/>
									</div>
									<div class="f" style="margin-right: 25px;display: inline;margin-right: 25px">
										<label for="userCheckId" class="control-label" >检测员:</label>
										<input type="text" class="form-control" id="userCheckId" name="userCheckId" style="max-width: 10%;display: inline-block"/>
									</div>
									<div class="f" style="display: inline;margin-right: 25px">
										<label for="finalResult" class="control-label" >检测结果:</label>
										<select class="form-control" id="finalResult" name="finalResult" style="max-width: 10%;display: inline-block">
											<option value="">请选择</option>
											<option value="0">未处理</option>
											<option value="1">合格</option>
											<option value="2">不合格</option>
											<option value="3">严重不合格</option>
										</select>
									</div>
									<div class="f" style="margin-right: 25px;display: inline">
										<label for="userCheckBegin" class="control-label">检测时间:</label>
										<input type="text" class="form-control date-picker" id="userCheckBegin" name="userCheckBegin" style="max-width: 15%;display: inline-block"/>-
										<input type="text" class="form-control date-picker" id="userCheckEnd" name="userCheckEnd" style="max-width: 15%;display: inline-block"/>

										<!--根据 sort 和 order 条件，进行排序，所以这两条语句可以随意放置，这里的sort id值“id”是任意设置的-->
										<input id="sort" name="sort" value="id" type="hidden">
										<input id="order" name="order" value="desc" type="hidden">
										<!--根据 sort 和 order 条件，进行排序，所以这两条语句可以随意放置-->
									</div>
								</div>
							</div>
							<!--显示用时平均时间-->
							<div style="margin-top: 10px">
								<div style="display:inline;margin-top: 10px;margin-left: 25px">
									<div style="display: inline">
										<label for="userResultMsg" class="control-label">错误原因:</label>
										<select class="form-control" id="userResultMsg" name="userResultMsg" style="max-width: 10%;display: inline-block">
											<option value="">请选择</option>
											<option value="00">00</option>
											<option value="01">01</option>
											<option value="02">02</option>
											<option value="03">03</option>
											<option value="04">04</option>
											<option value="05">05</option>
											<option value="06">06</option>
											<option value="07">07</option>
											<option value="08">08</option>
											<option value="09">09</option>
											<option value="10">10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="16">16</option>
											<option value="17">17</option>
											<option value="18">18</option>
											<option value="19">19</option>
											<option value="20">20</option>
											<option value="21">21</option>
											<option value="22">22</option>
											<option value="23">23</option>
											<option value="24">24</option>
											<option value="25">25</option>
											<option value="26">26</option>
											<option value="27">27</option>
											<option value="28">28</option>
											<option value="29">29</option>
											<option value="30">30</option>
											<option value="31">31</option>
											<option value="32">32</option>
											<option value="33">33</option>
											<option value="34">34</option>
											<option value="35">35</option>
											<option value="36">36</option>
											<option value="37">37</option>
											<option value="38">38</option>
											<option value="39">39</option>
											<option value="40">40</option>
											<option value="41">41</option>
											<option value="42">42</option>
											<option value="43">43</option>
											<option value="44">44</option>
											<option value="45">45</option>
											<option value="46">46</option>
											<option value="47">47</option>
											<option value="48">48</option>
											<option value="49">49</option>
											<option value="50">50</option>
											<option value="51">51</option>
											<option value="52">52</option>
											<option value="53">53</option>
											<option value="54">54</option>
											<option value="55">55</option>
											<option value="56">56</option>
											<option value="57">57</option>
											<option value="58">58</option>
											<option value="59">59</option>
											<option value="60">60"</option>
											<option value="61">61</option>
											<option value="62">62</option>
											<option value="63">63</option>
											<option value="64">64</option>
										</select>
									</div>
									<div style="display: inline-block;margin-left: 25px">
										<label for="sum" class="control-label">总的用时平均时间:</label>
										<input type="text" class="form-control date-picker" id="sum" name="sum" style="max-width: 50%;display: inline-block"/>
									</div>
									<div style="margin-top: -45px">
										<div class="columns pull-right" style="flex-grow: 2">
											<button class="btn btn-success" onclick="reLoad()" id="chaxun" style="float: right;margin-right: 100px">查询</button>
										</div>
										<div class="columns pull-right" style="margin-left: 10px;margin-right: 10px">
											<!--这里 onclick 方法记得跟改为 STOBlist() 方法-->
											<button class="btn btn-success" onclick="STOBlist()" id="shengxu">用时升序排序</button>
										</div>
										<div class="columns pull-right" style="flex-grow: 2">
											<!--这里 onclick 方法记得跟改为 BTOSlist() 方法-->
											<button class="btn btn-success" onclick="BTOSlist()" id="jiangxu">用时降序排序</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/image_check/imageCheck/imageCheck.js"></script>
</body>
</html>