<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="image_check:imageCheck:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="image_check:imageCheck:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div>
							<div >
								<div class="f-w" style="display: inline">
									<div class="f" style="display:inline;margin-right: 25px;margin-left: 25px">
										<label for="customId" class="control-label" >设备号:</label>
										<input type="text" class="form-control" id="customId" name="customId" style="max-width: 10%;display: inline-block"/>
									</div>
									<div class="f" style="margin-right: 25px;display: inline;margin-right: 25px">
										<label for="userCheckId" class="control-label" >检测员:</label>
										<input type="text" class="form-control" id="userCheckId" name="userCheckId" style="max-width: 10%;display: inline-block"/>
									</div>
									<div class="f" style="display: inline;margin-right: 25px">
										<label for="finalResult" class="control-label" >检测结果:</label>
										<select class="form-control" id="finalResult" name="finalResult" style="max-width: 10%;display: inline-block">
											<option value="">请选择</option>
											<option value="0">未处理</option>
											<option value="1">合格</option>
											<option value="2">不合格</option>
											<option value="3">严重不合格</option>
										</select>
									</div>
									<div class="f" style="margin-right: 25px;display: inline">
										<label for="userCheckBegin" class="control-label">检测时间:</label>
										<input type="text" class="form-control date-picker" id="userCheckBegin" name="userCheckBegin" style="max-width: 15%;display: inline-block"/>-
										<input type="text" class="form-control date-picker" id="userCheckEnd" name="userCheckEnd" style="max-width: 15%;display: inline-block"/>

										<!--根据 sort 和 order 条件，进行排序，所以这两条语句可以随意放置，这里的sort id值“id”是任意设置的-->
										<input id="sort" name="sort" value="id" type="hidden">
										<input id="order" name="order" value="desc" type="hidden">
										<!--根据 sort 和 order 条件，进行排序，所以这两条语句可以随意放置-->
									</div>
								</div>
							</div>
							<!--显示用时平均时间-->
							<div style="margin-top: 10px">
								<div style="display:inline;margin-top: 10px;margin-left: 25px">
									<div style="display: inline">
										<label for="userResultMsg" class="control-label">错误原因:</label>
										<select class="form-control" id="userResultMsg" name="userResultMsg" style="max-width: 10%;display: inline-block">
											<option value="">请选择</option>
											<option value="00">00相片有边框</option>
											<option value="01">01图像模糊</option>
											<option value="02">02图像灰朦</option>
											<option value="03">03图像变形</option>
											<option value="04">04图像光渗、色渗</option>
											<option value="05">05单灯效果（阴阳脸)</option>
											<option value="06">06头位不正</option>
											<option value="07">07肩膀右耸</option>
											<option value="08">08肩膀左耸</option>
											<option value="09">09背景非纯白</option>
											<option value="10">10画面有杂质</option>
											<option value="11">11制服</option>
											<option value="12">12衣服颜色太浅</option>
											<option value="13">13整体偏左</option>
											<option value="14">14整体偏右</option>
											<option value="15">15整体偏上</option>
											<option value="16">16整体偏下</option>
											<option value="17">17着装不符</option>
											<option value="18">18脸部高光</option>
											<option value="19">19脸部有异物</option>
											<option value="20">20脸部有缺失（人为修饰过度)</option>
											<option value="21">21脸部光线不均匀</option>
											<option value="22">22偏亮</option>
											<option value="23">23偏暗</option>
											<option value="24">24偏色</option>
											<option value="25">25浓妆</option>
											<option value="26">26红眼</option>
											<option value="27">27曝光过度</option>
											<option value="28">28调整过度</option>
											<option value="29">29表情不自然</option>
											<option value="30">30目光未视尽头</option>
											<option value="31">31眼镜框过宽</option>
											<option value="32">32眼镜框挡眼球</option>
											<option value="33">33眼镜片有颜色</option>
											<option value="34">34眼镜片反光/有阴影/镜片模糊</option>
											<option value="35">35头部整体偏高</option>
											<option value="36">36头部整体偏左\右</option>
											<option value="37">37头过大\过小</option>
											<option value="38">38头向左\右歪</option>
											<option value="39">39头向左\右侧</option>
											<option value="40">40头部前倾</option>
											<option value="41">41头部后倾</option>
											<option value="42">42头部后仰</option>
											<option value="43">43头发修饰过度，不自然</option>
											<option value="44">44头发光渗、色渗</option>
											<option value="45">45头发颜色过于艳丽</option>
											<option value="46">46头发遮住眼睛</option>
											<option value="47">47头发遮住眉毛</option>
											<option value="48">48头发遮住耳朵</option>
											<option value="49">49头发影响布局</option>
											<option value="50">50额头有阴影</option>
											<option value="51">51恶意上传</option>
											<option value="52">52没有肩膀</option>
											<option value="53">53人像周围有阴影</option>
											<option value="54">54锐化过度</option>
											<option value="55">55饱和度过高</option>
											<option value="56">56边缘羽化过度</option>
											<option value="57">57反差过大\过小</option>
											<option value="58">58光比过强\过弱</option>
											<option value="59">59戴帽</option>
											<option value="60">60佩戴美瞳</option>
											<option value="61">61饰物过多\过大</option>
											<option value="62">62脸部\颈部有刺青</option>
											<option value="63">63饰物\项链影响相片画面</option>
											<option value="64">64脸部\颈部有阴影</option>
										</select>
									</div>
									<div style="display: inline-block;margin-left: 25px">
										<label for="sum" class="control-label">总的用时平均时间:</label>
										<input type="text" class="form-control date-picker" id="sum" name="sum" style="max-width: 50%;display: inline-block"/>
									</div>
									<div style="margin-top: -45px">
										<div class="columns pull-right" style="flex-grow: 2">
											<button class="btn btn-success" onclick="reLoad()" id="chaxun" style="float: right;margin-right: 100px">查询</button>
										</div>
										<div class="columns pull-right" style="margin-left: 10px;margin-right: 10px">
											<!--这里 onclick 方法记得跟改为 STOBlist() 方法-->
											<button class="btn btn-success" onclick="STOBlist()" id="shengxu">用时升序排序</button>
										</div>
										<div class="columns pull-right" style="flex-grow: 2">
											<!--这里 onclick 方法记得跟改为 BTOSlist() 方法-->
											<button class="btn btn-success" onclick="BTOSlist()" id="jiangxu">用时降序排序</button>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:imageCheck:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/image_check/imageCheck/imageCheck.js"></script>
</body>
</html>