<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<style>

</style>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="row">
						<div class="columns pull-left">
							<button shiro:hasPermission="image_check:checkError:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<button shiro:hasPermission="image_check:checkError:batchRemove" type="button" class="btn  btn-danger"
								onclick="batchRemove()">
								<i class="fa fa-trash" aria-hidden="true"></i>删除
							</button>
						</div>
						<div>
							<div class="f-w-sb">
								<div class="f-w" style="margin-left:25px;display: inline;">
									<div class="f" style="margin-right: 25px;display: inline">
										<label for="userCheckId" class="control-label" >检测员:</label>
										<input type="text" class="form-control" id="userCheckId" name="userCheckId" style="max-width: 20%;display: inline-block"/>
									</div>
									<div class="f" style="margin-right: 25px;display: inline">
										<label for="userCheckBegin" class="control-label">检测时间:</label>
										<input type="text" class="form-control" id="userCheckBegin" name="userCheckBegin" style="max-width: 20%;display: inline-block"/>-
										<input type="text" class="form-control" id="userCheckEnd" name="userCheckEnd" style="max-width: 20%;display: inline-block"/>
									</div>
								</div>
								<div class="pull-right">
									<button class="btn btn-success" onclick="reLoad()">查询</button>
								</div>
							</div>
						</div>
						<!--一个输入框，紧靠查询的左边<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>-->
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="image_check:checkError:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:checkError:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
		<div shiro:hasPermission="image_check:checkError:resetPwd">
			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/image_check/checkError/checkError.js"></script>
</body>
</html>