<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">相片受理编号：</label>
								<div class="col-sm-8">
									<input id="acceptNo" name="acceptNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上传客户端id：</label>
								<div class="col-sm-8">
									<input id="customId" name="customId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上传照片的客户端ip：</label>
								<div class="col-sm-8">
									<input id="uploadIp" name="uploadIp" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">上传照片的时间：</label>
								<div class="col-sm-8">
									<input id="uploadTime" name="uploadTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">照片存放路径：</label>
								<div class="col-sm-8">
									<input id="imagePath" name="imagePath" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">照片名称：</label>
								<div class="col-sm-8">
									<input id="imageName" name="imageName" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">照片大小：</label>
								<div class="col-sm-8">
									<input id="imageSize" name="imageSize" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">特检标志(0-菲特检,1-特检)：</label>
								<div class="col-sm-8">
									<input id="imageSpecial" name="imageSpecial" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">特检信息：</label>
								<div class="col-sm-8">
									<input id="specialMsg" name="specialMsg" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">所属检测标准的id：</label>
								<div class="col-sm-8">
									<input id="checkTypeId" name="checkTypeId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machineId" name="machineId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machineCheckTime" name="machineCheckTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machineResult" name="machineResult" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machineCheckValue" name="machineCheckValue" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="machineResultMsg" name="machineResultMsg" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人检id：</label>
								<div class="col-sm-8">
									<input id="userCheckId" name="userCheckId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人检开始时间：</label>
								<div class="col-sm-8">
									<input id="userCheckBegin" name="userCheckBegin" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人检结束时间：</label>
								<div class="col-sm-8">
									<input id="userCheckEnd" name="userCheckEnd" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人检结果(0-未处理,1-合格,2-不合格,3-严重不合格)：</label>
								<div class="col-sm-8">
									<input id="userResult" name="userResult" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">人检文字结果：</label>
								<div class="col-sm-8">
									<input id="userResultMsg" name="userResultMsg" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">最终检测结果(0-未处理,1-合格,2-不合格,3-严重不合格)：</label>
								<div class="col-sm-8">
									<input id="finalResult" name="finalResult" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">处理结果已达阶段(0-未处理,1-机检完,3-人检完)：</label>
								<div class="col-sm-8">
									<input id="dealStage" name="dealStage" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="createUser" name="createUser" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="updateTime" name="updateTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="updateUser" name="updateUser" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/pc_image_check/imageCheck/add.js">
	</script>
</body>
</html>
