<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.staff.dao.StaffDao">

	<select id="get" resultType="com.bootdo.staff.domain.StaffDO">
		select `id`,`projectName`,`done`,`remarks`,`done_time` from staff where id = #{value}
	</select>

	<select id="list" resultType="com.bootdo.staff.domain.StaffDO">
		select `id`,`projectName`,`done`,`remarks`,`done_time` from staff
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="projectname != null and projectname != ''"> and projectName = #{projectname} </if>
		  		  <if test="done != null and done != ''"> and done = #{done} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="doneTime != null and doneTime != ''"> and done_time = #{doneTime} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from staff
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="projectname != null and projectname != ''"> and projectName = #{projectname} </if>
		  		  <if test="done != null and done != ''"> and done = #{done} </if>
		  		  <if test="remarks != null and remarks != ''"> and remarks = #{remarks} </if>
		  		  <if test="doneTime != null and doneTime != ''"> and done_time = #{doneTime} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.staff.domain.StaffDO" useGeneratedKeys="true" keyProperty="id">
		insert into staff
		(
			`projectName`, 
			`done`, 
			`remarks`, 
			`done_time`
		)
		values
		(
			#{projectname}, 
			#{done}, 
			#{remarks}, 
			#{doneTime}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.staff.domain.StaffDO">
		update staff 
		<set>
			<if test="projectname != null">`projectName` = #{projectname}, </if>
			<if test="done != null">`done` = #{done}, </if>
			<if test="remarks != null">`remarks` = #{remarks}, </if>
			<if test="doneTime != null">`done_time` = #{doneTime}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from staff where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from staff where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>